img {
  width: 100%;
  height: auto;
}

/* BUTTONS */
button {
  background-color: var(--button-enabled-background);
  color: var(--color-text);
  cursor: pointer;
  font-family: "LarsMalone";
}
button:focus {
  outline: var(--color-text);
}

/* BACK TO COLOGNES */
main section:nth-of-type(1) {
  display: flex;
  align-items: center;
  padding: 2em 0 2em 0;
}
main section:nth-of-type(1) {
  height: 1em;
}

/* REVIEWS */
main section:nth-of-type(2) {
  display: flex;
  gap: 0.2em;
}

/* PRODUCT CARD CAROUSEL */
main section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}

/* DESCRIPTIONS */
details {
  padding: 2.2em 1em;
  border-top: 0.5px solid var(--light-grey);
  position: relative;
}

details img {
  width: 10em;
}

summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* TASTING NOTES CARDS */
details section {
  display: flex;
  flex-direction: row;
}
details ul {
  display: flex;
  list-style: none;
  gap: 3em;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
  padding-top: 2em;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
details ul li {
  width: 80%;
  flex-shrink: 0;
}
details li {
  display: flex;
  flex-direction: column;
  gap: 2em;

  flex-shrink: 0;
}
details ul button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  cursor: pointer;
}
details[open] img {
  rotate: -90deg;
  transition: 0.2s;
}
