/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #1c1c1c;
  --color-background: #fcf9ee;
  --white: #fff;
  --large-button-background: #212121;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
