/* FONTS */
@font-face {
  font-family: "LarsMalone";
  src: url("../fonts/LarsMalonePro-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "LarsMalone";
  src: url("../fonts/LarsMalonePro-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "MaloneSerif";
  src: url("../fonts/MaloneSerif-SemiBold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "MaloneSerif";
  src: url("../fonts/MaloneSerif-Bold.woff2");
  font-weight: 400;
  /* font-size: 24px; */
  /* line-height: 1.3; */
  /* text-transform: capitalize; */
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* COLORS */
  --color-text: #1c1c1c;
  --color-background: #fcf9ee;
  --white: #fff;
  --primary-color: #212121;
  --button-bg: #f7f4e9;
  --accent-color: #f4d03f;
  --light-grey: #707070;
}

/****************/
/* JOUW STYLING */
/****************/

body {
  background-color: var(--color-background);
  font-family: "LarsMalone";
  color: var(--color-text);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "MaloneSerif", "Times New Roman", Times, serif;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: var(--button-bg);
  padding: 0.5em 1em;
  cursor: pointer;
}

header,
footer {
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

/****************/
/* 		HEADER	 */
/****************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1em 2em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  position: relative;
}
header img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/* header:nth-child(1) {
  order: 1;
}
header:nth-child(2) {
  order: 0;
}
header:nth-child(3) {
  order: 2;
} */

header > *:nth-child(1) {
  order: 2; /* 로고 */
}
header > *:nth-child(2) {
  order: 1; /* 햄버거 메뉴 */
}
header > *:nth-child(3) {
  order: 3; /* 내비게이션 메뉴 */
}
header > *:nth-child(4) {
  order: 4; /* 검색 아이콘 */
}
header > *:nth-child(5) {
  order: 10; /* 쇼핑백 아이콘 */
}

/****************/
/* 		NAVBAR OPEN	 */
/****************/
nav {
  display: none; /* Initially hidden */
}

nav.active {
  display: block; /* Shown when menu is toggled */
}

nav ul {
  display: flex;

  list-style: none;
  justify-content: center;
  text-align: left;
  gap: 1em;
}

nav ul li {
  padding: 0.5em 0;
  text-transform: uppercase;
}

/* VOOR ALLE ICONEN */
.icon {
  width: 1.8em;
  height: auto;
}

/* VOOR ALLE BUTTONS */
button {
  border: none;
}

/* ------- FOOTER ------ */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%; /* 가로 전체 차지 */
  box-sizing: border-box; /* 패딩 포함한 크기 계산 */
  padding: 1em; /* 여백 추가 */
}
footer p {
  display: flex;
  align-items: flex-start;
  font-size: 0.8em;
}
footer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer input[type="email"] {
  border: none;
  border-bottom: 1px solid var(--color-text);

  padding: 1em 8em 1em 0.5em;
  align-items: flex-start;
  color: var(--light-grey);
}

#signUp {
  padding-bottom: 3em;
  width: 100%;
}

/* GENDER FORM */
#gender-form {
  display: flex;
  flex-direction: column;
  gap: 1em; /* 각 그룹 간 일정한 간격 */
}
#gender-form ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em; /* 각 라디오 버튼-레이블 간 간격 */
}
#gender-form li {
  display: flex;
  flex-direction: row;
  align-items: center; /* 버튼과 텍스트를 수직 정렬 */
  gap: 0.5em; /* 버튼과 레이블 간 일정한 간격 */
}
#gender-form input[type="radio"] ~ label {
  font-weight: 500%;
  padding: 0.5em 0 0.5em 4em;
  position: relative;
  height: 1.5em;
  accent-color: var(--color-text);
}

/* OTHER  */
footer ul {
}
footer li {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

@media (width > 48em) {
}
